# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code\e-commerce-springcloud-alibaba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
